{% extends "_base.html" %} {% load static %} {% block content %}

<section>
  <div class="mx-auto max-w-screen-xl text-center bg-white py-20">
    <h1
      class="text-4xl lg:text-5xl text-slate-700 font-bold tracking-tight py-2"
    >
      Kursus Overblik
    </h1>
    <h2 class="text-lg font-medium tracking-normal text-gray-400 py-2">
      Opdag en verden af spændende kurser - Find dit næste læringseventyr her!
    </h2>
    <div class="flex w-full justify-center my-2">
      <form action="" class="flex flex-row items-center">
        <div class="me-2">
          <div
            class="border-2 border-slate-200 focus:border-slate-200 rounded-lg flex"
          >
            <span class="ps-1 material-icons md-24 text-green-400 my-auto">
              search
            </span>
            <input
              class="py-2 ms-0 ps-1 font-semibold placeholder-gray-400 w-64 border-none font-sans rounded-lg focus:outline-none focus:ring focus:ring-emerald-300"
              type="text"
              name=""
              id=""
              placeholder="Søg efter kurser...."
            />
          </div>
        </div>
        <button
          type="button"
          class="focus:outline-none text-white bg-emerald-500 hover:bg-emerald-700 focus:ring-4 focus:ring-green-300 font-medium rounded-md text-base px-5 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        >
          Søg kurser
        </button>
      </form>
    </div>
  </div>
  <div></div>
</section>

<section class="mt-12 lg:px-6 lg:max-w-8xl lg:mx-auto">
  <div class="flex lg:flex-row flex-col">
    <!-- COURSE FILTERING SECTION -->

    <div class="flex md:hidden">
      <!-- mobile -->
      <h1>mobile</h1>
    </div>

    <div class="hidden md:flex flex-col rounded-lg px-7 shrink-0">
      <!-- Ipad and beyond -->
      {% if categories %}
      <h4 class="text-base font-semibold text-slate-600 pb-2">Kategori</h4>
      <ul class="ps-4">
        {% for cat in categories %}
        <li class="text-base text-gray-400 font-normal">
          <input
            class="rounded-md border-2 border-slate-400"
            type="checkbox"
            name=""
            id="{{cat.id}}"
          />
          <label for="{{cat.id}}">{{cat.Name}}</label>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <!-- COURSE LIST SECTION -->
    <div class="grow max-w-5xl mx-auto">
      <div id="courses-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:gap-5 py-5">
        <!-- Product Card -->
        {% if courses %} {% for course in courses %}
        <a id="course_{{course.id}}" href="" published="{{course.published}}">
          <div
            class="shadow-xl py-4 px-4 rounded-lg overflow-hidden hover:shadow-inner"
          >
            <img
              src="{{course.Image.url}}"
              class="object-cover h-48 w-full"
              alt="..."
            />
            <h1 class="font-bold text-slate-700 mt-2 text-lg">
              {{course.Name}}
            </h1>
            <div>
              <span class="text-sm text-gray-600 font-semibold"
                >Instruktør:
              </span>
              <span class="text-sm text-gray-400 font-base"
                >{{course.Author}}</span
              >
              <span class="text-sm text-gray-600 font-semibold ms-1"
                >Niveau:
              </span>
              {% if course.level == 1 %}
              <span class="text-sm text-green-500 font-bold">Begynder</span> 
              {% elif course.level == 2 %}
              <span class="text-sm">Begynder</span> 

              {% else %}
              <span class="text-sm">Avanceret</span> 

              {% endif %}
            </div>
            <div class="mt-1 max-h-24">
              <p class="font-normal line-clamp-3 text-gray-500 text-sm">
                {{course.Description}}
              </p>
            </div>
          </div>
        </a>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</section>

<section class="">
  <div></div>
</section>

{% endblock content %}
