<!-- templates/index.html -->

{% extends "_base.html" %} {% load static %} {% block content %}

<section>
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl text-center pt-28 lg:pt-36 lg:pb-4 lg:px-12"
  >
    <h1
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white"
    >
      We invest in the world’s potential
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
    >
      Here at Flowbite we focus on markets where technology, innovation, and
      capital can unlock long-term value and drive economic growth.
    </p>
    <div
      class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
    >
      <a
        href="#"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-emerald-500 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-900"
      >
        Udforsk
        <svg
          class="ml-2 -mr-1 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <a
        href="#"
        class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400"
      >
        <svg
          class="mr-2 -ml-1 w-5 h-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"
          ></path>
        </svg>
        Introduktion
      </a>
    </div>
  </div>
</section>

<section
  class="px-12 lg:px-28 lg:mx-auto py-16 lg:py-8 flex lg:flex-row justify-center flex-col mx-0"
>
  <div
    class="flex lg:w-64 flex-col bg-white lg:py-8 rounded-lg lg:px-4 shadow-lg lg:mx-8 w-full mx-0 px-8 py-6 my-6"
  >
    <div class="">
      <div class="bg-emerald-200 rounded-full inline-block p-2">
        <img
          class="w-8 fill-emerald-800"
          src="{% static 'assets/icons/auto_stories_black_24dp.svg' %}"
          alt=""
        />
      </div>
    </div>
    <div>
      <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">Marketing</h3>
      <p class="text-gray-500 dark:text-gray-400 text-base mb-2">
        Plan it, create it, launch it. Collaborate seamlessly with all the
        organization and hit your marketing goals every month with our marketing
        plan.
      </p>
      <a class="text-sky-600 font-semibold flex items-center" href="/">
        <span class="mr-1">Lær mere</span>
        <span class="material-icons md-24"> arrow_forward </span>
      </a>
    </div>
  </div>
  <div
    class="flex lg:w-64 flex-col bg-white lg:py-8 rounded-lg lg:px-4 shadow-lg lg:mx-8 w-full mx-0 px-8 my-6"
  >
    <div class="">
      <div class="bg-emerald-200 rounded-full inline-block p-2">
        <img
          class="w-8 fill-emerald-800"
          src="{% static 'assets/icons/auto_stories_black_24dp.svg' %}"
          alt=""
        />
      </div>
    </div>
    <div>
      <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">Marketing</h3>
      <p class="text-gray-500 dark:text-gray-400 text-base mb-2">
        Plan it, create it, launch it. Collaborate seamlessly with all the
        organization and hit your marketing goals every month with our marketing
        plan.
      </p>
      <a class="text-sky-600 font-semibold flex items-center" href="/">
        <span class="mr-1">Lær mere</span>
        <span class="material-icons md-24"> arrow_forward </span>
      </a>
    </div>
  </div>
  <div
    class="flex lg:w-64 flex-col bg-white lg:py-8 rounded-lg lg:px-4 shadow-lg lg:mx-8 w-full mx-0 px-8 my-6"
  >
    <div class="">
      <div class="bg-emerald-200 rounded-full inline-block p-2">
        <img
          class="w-8 fill-emerald-800"
          src="{% static 'assets/icons/auto_stories_black_24dp.svg' %}"
          alt=""
        />
      </div>
    </div>
    <div>
      <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">Marketing</h3>
      <p class="text-gray-500 dark:text-gray-400 text-base mb-2">
        Plan it, create it, launch it. Collaborate seamlessly with all the
        organization and hit your marketing goals every month with our marketing
        plan.
      </p>
      <a class="text-sky-600 font-semibold flex items-center" href="/">
        <span class="mr-1">Lær mere</span>
        <span class="material-icons md-24"> arrow_forward </span>
      </a>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        We didn't reinvent the wheel
      </h2>
      <p class="mb-4">
        We are strategists, designers and developers. Innovators and problem
        solvers. Small enough to be simple and quick, but big enough to deliver
        the scope you want at the pace you need. Small enough to be simple and
        quick, but big enough to deliver the scope you want at the pace you
        need.
      </p>
      <p>
        We are strategists, designers and developers. Innovators and problem
        solvers. Small enough to be simple and quick.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="{% static 'assets/learning-one.jpg' %}"
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="{% static 'assets/learning-two.jpg' %}"
        alt="office content 2"
      />
    </div>
  </div>
</section>

<section class="mx-0 lg:mx-14 rounded-lg shadow-xl bg-gray-50 my-8">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Designed for business teams like yours
      </h2>
      <p class="text-gray-500 sm:text-xl dark:text-gray-400">
        Here at Flowbite we focus on markets where technology, innovation, and
        capital can unlock long-term value and drive economic growth.
      </p>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Marketing</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Plan it, create it, launch it. Collaborate seamlessly with all the
          organization and hit your marketing goals every month with our
          marketing plan.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Legal</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Protect your organization, devices and stay compliant with our
          structured workflows and custom permissions made for you.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
            <path
              d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Business Automation
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Auto-assign tasks, send Slack messages, and much more. Now power up
          with hundreds of new templates to help you get started.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Finance</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Audit-proof software built for critical financial operations like
          month-end close and quarterly budgeting.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Enterprise Design
        </h3>
        <p class="text-gray-500 dark:text-gray-400">
          Craft beautiful, delightful experiences for both marketing and product
          with real cross-company collaboration.
        </p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
        >
          <svg
            class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Operations</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Keep your company’s lights on with customizable, iterative, and
          structured workflows built for all efficient teams and individual.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16"
  >
    <div>
      <iframe
        class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
        src="https://www.youtube.com/embed/KaLxCiilHns"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="flex flex-col justify-center">
      <h1
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
      >
        We invest in the world’s potential
      </h1>
      <p
        class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
      >
        Here at Flowbite we focus on markets where technology, innovation, and
        capital can unlock long-term value and drive economic growth.
      </p>
      <div
        class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4"
      >
        <a
          href="#"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
        >
          Get started
          <svg
            class="w-3.5 h-3.5 ml-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
        <a
          href="#"
          class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        >
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>

<section class="flex items-center">
  <div class="mx-auto my-8 max-w-screen-lg px-4 text-center">
    <h1 class="text-4xl font-extrabold lg:text-4xl">
      Følg med på flere kanaler
    </h1>
    <div class="flex lg:flex-row flex-col py-8">
      <a href="">
        <div
          class="rounded-lg flex flex-col items-start text-start py-5 px-5 shadow-lg mx-5 hover:scale-110 duration-300 transition ease-in-out delay-150"
        >
          <div class="p-3 rounded-full bg-purple-100">
            <img
              class="w-8"
              src="{% static 'assets/icons/twitch.svg' %}"
              alt=""
            />
          </div>
          <h3 class="font-semibold text-lg py-2 text-purple-500">Twitch</h3>
          <p class="text-gray-500 font-normal">
            Here at Flowbite we focus on markets where technology, innovation,
            and capital can unlock long-term value and drive economic growth.
          </p>
        </div>
      </a>
      <a href="">
        <div
          class="rounded-lg flex flex-col items-start text-start py-5 px-5 shadow-lg mx-5 hover:scale-110 duration-300 transition ease-in-out delay-150"
        >
          <div class="p-3 rounded-full bg-red-100">
            <img
              class="w-8"
              src="{% static 'assets/icons/youtube.svg' %}"
              alt=""
            />
          </div>
          <h3 class="font-semibold text-lg py-2 text-red-500">Youtube</h3>
          <p class="text-gray-500 font-normal">
            Here at Flowbite we focus on markets where technology, innovation,
            and capital can unlock long-term value and drive economic growth.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock content %}
