<!-- templates/index.html -->

{% extends "_base.html" %}
{% load static %}
{% block content %}



<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center pt-28 lg:pt-36 lg:pb-4 lg:px-12">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl text-white">We invest in the world’s potential</h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
      <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-emerald-500 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-200 dark:focus:ring-emerald-900">
              Udforsk
              <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
          <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
            <svg class="mr-2 -ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
            Introduktion
            </a>    
  </div>
</section>

<section class="px-12 lg:px-28 lg:mx-auto py-16 lg:py-8 flex lg:flex-row justify-center flex-col mx-0">
    <div class="flex lg:w-64 flex-col bg-white lg:py-8 rounded-lg lg:px-4 shadow-lg lg:mx-8 w-full mx-0 px-8 py-6 my-6">
        <div class="">
            <div class="bg-emerald-200 rounded-full inline-block p-2">
                <img class="w-8 fill-emerald-800" src="{% static 'assets/icons/auto_stories_black_24dp.svg' %}" alt="">
            </div>
        </div>
        <div>
            <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">Marketing</h3>
            <p class="text-gray-500 dark:text-gray-400 text-base mb-2">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
            <a class="text-sky-600 font-semibold flex items-center" href="/">
                <span class="mr-1">Lær mere</span>
                <span class="material-icons md-24">
                    arrow_forward
                </span>
            </a>
        </div>
    </div>
    <div class="flex lg:w-64 flex-col bg-white lg:py-8 rounded-lg lg:px-4 shadow-lg lg:mx-8 w-full mx-0 px-8 my-6">
        <div class="">
            <div class="bg-emerald-200 rounded-full inline-block p-2">
                <img class="w-8 fill-emerald-800" src="{% static 'assets/icons/auto_stories_black_24dp.svg' %}" alt="">
            </div>
        </div>
        <div>
            <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">Marketing</h3>
            <p class="text-gray-500 dark:text-gray-400 text-base mb-2">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
            <a class="text-sky-600 font-semibold flex items-center" href="/">
                <span class="mr-1">Lær mere</span>
                <span class="material-icons md-24">
                    arrow_forward
                </span>
            </a>
        </div>
    </div>
    <div class="flex lg:w-64 flex-col bg-white lg:py-8 rounded-lg lg:px-4 shadow-lg lg:mx-8 w-full mx-0 px-8 my-6">
        <div class="">
            <div class="bg-emerald-200 rounded-full inline-block p-2">
                <img class="w-8 fill-emerald-800" src="{% static 'assets/icons/auto_stories_black_24dp.svg' %}" alt="">
            </div>
        </div>
        <div>
            <h3 class="mb-2 mt-2 text-xl font-bold dark:text-white">Marketing</h3>
            <p class="text-gray-500 dark:text-gray-400 text-base mb-2">Plan it, create it, launch it. Collaborate seamlessly with all  the organization and hit your marketing goals every month with our marketing plan.</p>
            <a class="text-sky-600 font-semibold flex items-center" href="/">
                <span class="mr-1">Lær mere</span>
                <span class="material-icons md-24">
                    arrow_forward
                </span>
            </a>
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">We didn't reinvent the wheel</h2>
            <p class="mb-4">We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need. Small enough to be simple and quick, but big enough to deliver the scope you want at the pace you need.</p>
            <p>We are strategists, designers and developers. Innovators and problem solvers. Small enough to be simple and quick.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="{% static 'assets/learning-one.jpg' %}" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="{% static 'assets/learning-two.jpg' %}" alt="office content 2">
        </div>
    </div>
</section>


<section>
    
</section>




{% endblock content %}